<button (click)="disp()">get</button>

<ng-template [ngIf]="table">
<table>
  <tr>
  <th>userId</th>
  <th>id</th>
  <th>title</th>
  <th colspan="3">body</th>
</tr>
<tr *ngFor="let i of table">
  <td (click)="nextTable(i.userId)">{{i.userId}}</td>
  <td>{{i.id}}</td>
  <td>{{i.title}}</td>
  <td>{{i.body}}</td>
  <td><button (click)="edit(i.id)">edit</button></td>
  <td><button (click)="del(i.id)">del</button></td>
</tr>
</table>
</ng-template><br><br>

<ng-template [ngIf]="tab">
<table>
<tr>
    <th>userId</th>
    <th>id</th>
    <th>title</th>
    <th>body</th>
  </tr>
<tr *ngFor="let i of tab">
  <td>{{i.userId}}</td>
  <td>{{i.id}}</td>
  <td>{{i.title}}</td>
  <td>{{i.body}}</td>
</tr>
</table>
</ng-template>